title = "Contact"
url = "/contact"
layout = "default"
description = "Contact us"
is_hidden = 0
==
<h1>Contact Us</h1>
<form>
  <div class="form-group">
    <label>Name</label>
    <input type="text" class="form-control">
  </div>
  <div class="form-group">
    <label>Email</label>
    <input type="text" class="form-control">
  </div>
  <div class="form-group">
    <label>Message</label>
    <textarea class="form-control"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>