title = "Home"
url = "/"
layout = "default"
description = "This is a homepage"
is_hidden = 0
==
<div class="jumbotron text-center">
    <h1>{{this.theme.site_name}}</h1>
    <p>{{this.theme.site_description}}</p>
    <p>
        <a href="{'about'|page}" class="btn btn-outline-secondary">Read More</a>
    </p>
</div>