<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">{{this.theme.site_name}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {% if this.page.id == 'home' %}active{% endif %}"><a class="nav-link" href="{{ 'home'|page }}">Home</a></li>
            <li class="{% if this.page.id == 'about' %}active{% endif %}"><a class="nav-link" href="{{ 'about'|page }}">About</a></li>
            <li class="{% if this.page.id == 'blog' %}active{% endif %}"><a class="nav-link" href="{{ 'blog'|page }}">Blog</a></li>
            <li class="{% if this.page.id == 'contact' %}active{% endif %}"><a class="nav-link" href="{{ 'contact'|page }}">Contact</a></li>
        </ul>
        <form class="form-inline mt-2 mt-md-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>